# Email HR nhận hồ sơ ứng tuyển
VITE_HR_EMAIL=hr@sametel.com.vn

# Phương thức ứng tuyển
VITE_USE_MAILTO_FOR_APPLY=false

# URL Web App /exec sau khi deploy google_sheet_script.js
VITE_GOOGLE_SHEET_URL=https://script.google.com/macros/s/AKfycbwdDV-NG1_G_lwtS9wSWn_7XJ8ZS4JCNvbmNuwgptgygBAaM0z2mGbYJzwSIMwNLittkw/exec
