# Email HR nhận ứng tuyển
VITE_HR_EMAIL=hr@udata.ai

# Phương thức ứng tuyển:
# - true: Mở ứng dụng Email (mailto) trên máy/điện thoại
# - false: Sử dụng Popup Form trên website
VITE_USE_MAILTO_FOR_APPLY=true
